* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.search {
  margin-left: 3%;
}

.search-and-select {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
}

.dark-mode {
  background-color: #202D36;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

@media (max-width: 480px) {
  .app-container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .search {
    justify-self: center;
    margin-left: 30%;
  }

  .search-and-select {
    flex-direction: column;
  }
}