* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: #202D36;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.mode-container {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.mode-change {
    width: 6%;
    display: flex;
    justify-content: space-between;
}

.dark-mode-icon {
    padding-top: 0.2rem;
}

@media (max-width: 480px) {
    .mode-container {
        height: 8vh;
        align-items: center;
        justify-content: space-between;
    }

    .mode-change {
        width: 23%;
        justify-content: flex-start;
    }
}