* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.single-country {
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 4vh;
}

.country-container {
    margin-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    column-gap: 6vw;
}


#go-back-btn {
    margin-top: 4%;
    margin-left: 3%;
    width: 10vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.single-country-detail {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.single-country-detail h2 {
    font-size: 2rem;
}

.single-country-detail div {
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.single-img {
    height: 30vh;
    width: 25vw;
}

.single-img img {
    height: 100%;
    width: 100%;
}

.main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10vw;
}

.border-countries {
    width: 60vw;
}

.border-country-name {
    margin-left: 5%;
    padding: 1% 4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .single-country {
        flex-direction: column;
        gap: 2rem;
    }

    .country-container {
        flex-direction: column;
        column-gap: 0;
        margin-top: 2rem;
    }

    #go-back-btn{
        width: 20vw;
    }

    .single-img{
        height: 25vh;
        width: 94vw;
        margin-bottom: 5%;
    }

    .main-div{
        gap: 4vh;
    }

}