* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-left: 3%;
    padding-right: 3%;
}

.main-container {
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 6.20vw;
    row-gap: 5vh;
}

.dropdown {
    display: flex;
    justify-content: space-between;
}

.country-details {
    height: 50vh;
    width: 20%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-sizing: border-box;
}

.country-detail {
    padding: 7% 0 10% 4%;
}

.image-container {
    height: 55%;
    width: 100%;
}

.image {
    height: 100%;
    width: 100%;
}

.country-name {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 4%;
}

select {
    height: 5vh;
    width: 15vw;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

select option {
    font-size: 16px;
}

.dark-mode {
    background-color: #202D36;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

/***************Media Queries *********************/
@media (max-width: 480px) {
    .main-container {
        column-gap: 0;
    }

    .country-details {
        width: 100%;
        margin-bottom: 3vh;
    }
}