* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-container {
    height: 7vh;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    flex-basis: 25vw;
    position: relative;
}

.search-icon {
    position: absolute;
    margin-top: 14px;
    padding-left: 3%;
    z-index: 1;
    color: gray;
}

input {
    height: 5vh;
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding-left: 3rem;
    outline: none;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

select {
    height: 5vh;
    width: 15vw;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

select option {
    font-size: 16px;
}

.dark-mode input {
    background-color: #202D36;
    color: white;
}

.dark-mode select,
.dark-mode select option {
    background-color: #202D36;
    color: white;
}

.light-mode input {
    background-color: white;
    color: black;
}

.light-mode select,
.light-mode select option {
    background-color: white;
    color: black;
}

@media (max-width: 480px) {
    .search-container {
        flex-direction: column;
        height: auto;
        padding: 3% 0;
    }

    .search-box {
        width: 92vw;
        flex-basis: 100%;
        margin-bottom: 1rem;
        margin-left: 70%;
    }

    .search-icon {
        margin-top: 3%;
    }

    select {
        width: 40vw;
    }
    .search-dropdown{
        margin-left: 74%;
    }
}